.em-1{
  font-size: 1em !important;
}
.bold{
  font-weight: bold;
}
.ways{
  width: unset !important;
  max-width: 88%;
  flex-wrap: wrap;
  margin-top: 20px !important;
}
.way{
  flex: 0 0 auto;
  width: 42% !important;
  margin: .6em;
  padding: 1rem;
  height: 110px !important;
}
.sec2flex_left{
  position: absolute !important;
  right: 27em;
  top: 7em;
  width: 24em !important;
}
.sec2flex_left .sec2_title{
  font-size: 2rem !important;
  font-weight: bold;
}
.sec2flex_left .sec2_title .sec2_fu_title{
  font-weight: bold;
}
.sec2flex_left .sec2_fu_title1{
  position: absolute;
  left: -54em;
  top: 50em;
}
.section.section3::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.14;
  background-image: url('/images/home_jingqu_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.sec3title{
  color: black !important;
  margin-bottom: .6rem !important;
}
.section.section3 .viewsbox{
  margin-top: 5rem;
}
.index_main .section3 .sec3flex .viewsbox .views{
  margin: 1rem;
  width: 31.35% !important;
  height: unset !important;
  margin-bottom: 3rem !important;
}
.section3 .sec3flex .viewsbox .views .bottom{
  margin-top: 1rem;
  height: unset !important;
}
.section4 .sec4title{
  margin-bottom: .6rem !important;
}
.section4 .services{
  margin-top: 5rem;
}
.text-white{
  color: #ffffff;
}
.sec4flex .services .sitem{
  margin: 0 1rem;
  color: #ffffff !important;
}
.sec4flex .services .sitem .box .tag{
  font-size: 1.5em !important;
  font-weight: bold;
}
.sec4flex .services .sitem .box .tag_intro{
  color: #ffffff !important;
  font-size: .7em !important;
  padding: .8em 1em 1.2em 0;
  font-weight: bold;
}
.sec4flex .services .sitem .box .arrow{
  width: 100%;
  text-align: end;
  padding: 1.2em 1.8em 0 0;
}
.section.section4{
  background-image: url('/images/leyou_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.section.section4::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  background: #000000;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
footer .flinks{
  width: 1170px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: bold;
}
footer .links{
  width: 100%;
  height: 70px;
  background-color: #262626;
  display: flex;
}
footer .links .wrapper{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
footer .links .wrapper a{
  color: #ffffff;
}
footer .info{
  width: 100%;
  height: 240px;
  background-color: #262626;
  color: #ffffff;
}
footer .info .wrapper{
  display: flex;
  width: 50%;
  margin: auto;
  padding: 2em;
  justify-content: center;
}
footer .info .wrapper .sn{
  display: flex;
  margin-right: 2em;
}
footer .info .wrapper .sn div{
  margin-right: 1em;
}
footer .info .wrapper .sn p{
  margin-top: .4em;
  font-size: .7em;
  text-align: center;
}
footer .info .wrapper .contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .info .wrapper .contact p{
  margin-bottom: 5px;
}
.hotelbox .hotelcontainer .hotelright .titlebox .titlecxt{
  font-size: .7em;
}
.hotelbox .hotelcontainer .hotelright .titlebox .titlecxt p{
  font-size: .4em;
}
.hotelbox .hotelcontainer .hotelright .titlebox .titlecxt p{
}
.hotelbox .hotelcontainer .hotelright .content{
  background: #eeeeee;
  padding: 2.5em;
  position: relative;
  left: -20px;
  z-index: 55;
  margin-top: 1em;
}
.hotelbox .hotelcontainer .hotelleft{
  margin: 0;
}
.activityBox .activity_container .honor{
  width: 100%;
  margin-bottom: 80px;
}
.activityBox .activity_container .honor img{
  width: 100%;
}
.act_container.history{
  background: #eeeeee;
}
.meili_img_list .swiper-slide .title{
  font-size: 10px;
  position: relative;
  top: 10px;
}
.slider-with-margin .img,
.slider-with-margin .info
{
  width: 98%;
}
.youzai{
  background: #eeeeee;
  padding: 60px 0 !important;
}
.gouzai .title,
.youzai .title,
.zhuzai .title{
  font-size: 18px;
}
.gouzai .summary,
.zhuzai .summary,
.youzai .summary{
  font-size: 12px;
}
.gouzai .summary,
.youzai .summary{
  height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gouzai .info,
.zhuzai .info,
.youzai .info{
  padding: 20px;
}
.youzai .info{
  background: #ffffff;
}
.zhuzai .info{
  background: #eeeeee;
}
.text-light{
  color: #ffffff !important;
}
.badge1{
  background: #a40000;
  color: #ffffff;
  padding: 2px 6px;
  font-weight: 999;
}
.ms-3{
  margin-left: 10px;
}
.food_left{
  background:  #2f864a !important;
}
.box-border{
  width: 80px;
  height: 80px;
  border: 4px solid #ffffff;
  position: absolute;
}
.box-left-border{
  left: 40px;
  top: 75px;
  border-right: none;
  border-bottom: none;
}
.box-right-border{
  right: 40px;
  bottom: 75px;
  border-top: none;
  border-left: none;
}
.box-bg{
  position: relative;
  padding: 70px 0 0 60px;
  color: #ffffff;
}
.box-bg .name{
  font-size: 28px;
  margin-top: 40%;
}
.box-bg .shuoming{
  width: 70%;
  margin-top: 16px;
  font-size: 14px;
  color: #efefef;
}
.culture-box .box-bg{
  background:  #7d0000 !important;
}
.hist-box .box-bg{
  background:  #2f864a !important;
}
.news{
  padding: 100px 0;
  display: flex;
}
.news .contact{
  width: 50%;
}
.news .contact .desc{
  font-size: 14px;
  margin: 24px 0;
  width: 400px;
}
.contact .info{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.contact .info>div{
  margin-left: 40px;
  font-size: 16px;
}
.contact .info>div{
}
.sec4flex .services .sitem .box{
  width: 100% !important;
  padding-right: 0 !important;
}
.sec4flex .services .sitem{
  width: 23% !important;
}
.section4 .sec4flex.container{
  z-index: 55;
  position: relative;
}
.hotelbox .hotelcontainer .hotelright{
  left: -90px;
}
.path{
  width: 100%;
  height: 60px;
  background: rgb(247, 248, 248);
}
.path_container {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #9fa0a0;
  font-size: 14px;
}
.path_container a {
  color: #9fa0a0;
  text-decoration: none;
}
.main-container{
  width: 1200px !important;
}
.index_main .sec5flex{
  margin-bottom: 50px;
}
.youzai .pagination .swiper-pagination-switch,
.zhuzai .pagination .swiper-pagination-switch{
  background: #161616 !important;
  border: 1px solid #eeeeee;
}
.index_main .sec5flex{
  padding-top: 80px !important;
}
.index_main .section2 .sec2flex .sec2flex_right{
  position: absolute;
  bottom: 185px;
  left: 440px;
  font-size: 20px;
  display: block !important;
}
.index_main .section2 .sec2flex .sec2flex_right a{
  color: #ffffff !important;
}
.spfoodbox,
.activityBox{
  padding-bottom: 50px !important;
}
.spfoodbox .spfood_container .spfoodlist_swiper{
  height: 390px !important;
}
.index_main .section3 .sec3flex .viewsbox{
  justify-content: center !important;
}
.form-btn .btn,
.form-control{
  font-size: 14px !important;
}

@media screen and (max-width: 768px) {
  header.header {
    background: #161616 !important;
  }
  .m_nav{
    background: #161616;
  }
  .main-container{
    width: 100% !important;
  }
  .news {
    flex-direction: column;
  }
  footer .links {
    display: none;
  }
  footer .info .wrapper {
    width: 100%;
    flex-direction: column;
  }
  footer .info .wrapper .sn {
    margin: auto;
  }
  footer .info .wrapper .contact {
  }
  .spfoodbox .spfood_container .spfood_title{
    width: auto !important;
    color: #000000 !important;
  }
  .hotelbox .hotelcontainer .hotelright{
    left: 0;
  }
  .hotelbox .hotelcontainer .hotelright:after{
    content: unset !important;
  }
	.index_main .section3 .sec3flex .viewsbox .views{
    width: 44% !important;
  }
  .sec4flex .services{
    flex-direction: column !important;
  }
	.sec4flex .services .sitem{
    width: 100% !important;
  }
	.sec4flex .services .sitem .box .tag{
    width: 80% !important;
    font-size: 18px !important;
  }
  .sec4flex .services .sitem .box .tag_img{
    width: 200% !important;
    margin-left: 20px;
  }
  .sec4flex .services .sitem .box .arrow{
    display: none;
  }
  .sec2flex_left{
    right: unset;
    top: 0;
  }
  .index_main .section2{
    background-position: 38%;
    background-size: auto !important;
  }
  .index_main .section2 .sec2flex .sec2flex_right{
    display: none !important;
  }
  .sec4flex .services{
    flex-wrap: nowrap !important;
  }
  .hotelbox .hotelcontainer .hotelright .content{
    height: unset !important;
    padding: 10px;
    left: 0;
  }
}
