{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
    <div class="banner-image">
        <img src="images/banner-image.png" alt="car-image" class="img-fluid">
        <div class="centered-text">
            <h2 class="fw-bold">逆行者500系列</h2>
        </div>
    </div>
    <div class="section-1 container-fluid px-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">       
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="section-image">
                            <img src="images/矩形 1520 拷贝 6.png" alt="car-image" class="img-fluid">
                            <div class="section-1-text">
                                <img src="images/500.png" alt="text" class="img-fluid w-50 mx-auto">
                                <p class="pt-3">东风猛士逆行者500是基于猛士军用产品开发的首款军转民车型, <br> 其继承东风军用猛士的正规血统,品质优异,性能出众。适用于应急处突、</p>                           </div>
                        </div>
                    </div>   
                        </div>
                </div>
                <div class="swiper-slide">       
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="section-image">
                                <img src="images/矩形 1520 拷贝 6.png" alt="car-image" class="img-fluid">
                                <div class="section-1-text">
                                    <img src="images/500.png" alt="text" class="img-fluid w-50 mx-auto">
                                    <p class="pt-3">东风猛士逆行者500是基于猛士军用产品开发的首款军转民车型, <br> 其继承东风军用猛士的正规血统,品质优异,性能出众。适用于应急处突、</p>                            </div>
                            </div>
                        </div>   
                            </div>
                    </div>
                    <div class="swiper-slide">       
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="section-image">
                                    <img src="images/矩形 1520 拷贝 6.png" alt="car-image" class="img-fluid">
                                    <div class="section-1-text">
                                        <img src="images/500.png" alt="text" class="img-fluid w-50 mx-auto">
                                        <p class="pt-3">东风猛士逆行者500是基于猛士军用产品开发的首款军转民车型, <br> 其继承东风军用猛士的正规血统,品质优异,性能出众。适用于应急处突、</p>                             </div>
                                </div>
                            </div>   
                                </div>
                        </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="arrow-btn" id="arrow-button">
                <button onclick="scrollToTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i>
                </button>        
               </div>
        </div>
    </div>
    <div class="boxes-container container-fluid px-0">
        <div class="d-flex justify-content-between">

            <div class="box-image position-relative text-center">
                <img src="images/staring-2.png" alt="staring-image" class="img-fluid">
                <div class="overlay-text-2 d-none d-md-block">
                    <p>驾驶性提升</p>
                    <p>强大的双横臂螺旋弹簧独立悬架、大容量阻尼器和低气压轮胎的组合，使</p>
                </div>
            </div>
            <div class="box-image position-relative">
                <img src="images/black-jeep.png" alt="black-jeep" class="img-fluid">
                <p class="overlay-text d-none d-md-block">安全性提升</p>
            </div>
            <div class="box-image position-relative">
                <img src="images/machine.png" alt="machine" class="img-fluid">
                <p class="overlay-text d-none d-md-block">减速效果提升</p>
            </div>
            <div class="box-image position-relative">
                <img src="images/矩形 1520 拷贝 19.png" alt="yellow-jeep" class="img-fluid">
                <p class="overlay-text d-none d-md-block">通过性提升</p>
            </div>
            <div class="box-image position-relative">
                <img src="images/racing-jeep.png" alt="jeep" class="img-fluid">
                <p class="overlay-text d-none d-md-block">越野性提升</p>
            </div>
        </div>
    </div>
        
    
    <div class="section-2 container-fluid">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="section-image">
                                        <img src="images/组 141.png" alt="car-image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="section-2-text">
                                        <h1>品质内饰舒适耐用</h1>
                                        <p class="pt-5 text-center px-5">驾驶空间布置紧凑合理、维修方便、宽敞明亮， 内饰简洁明快、驾乘舒</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="swiper-slide">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="section-image mb-5">
                                        <img src="images/组 141.png" alt="car-image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="section-2-text">
                                        <h1>品质内饰舒适耐用</h1>
                                        <p class="pt-5 text-center px-5">驾驶空间布置紧凑合理、维修方便、宽敞明亮， 内饰简洁明快、驾乘舒</p>
                                    </div>
                                </div>
                            </div>
                    
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="section-image">
                                    <img src="images/组 141.png" alt="car-image" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="section-2-text">
                                    <h1>品质内饰舒适耐用</h1>
                                    <p class="pt-5 text-center px-5">驾驶空间布置紧凑合理、维修方便、宽敞明亮， 内饰简洁明快、驾乘舒</p>
                                </div>
                            </div>
                        </div>
                
                </div>
            </div>
                <!-- Repeat the above swiper-slide structure for each additional slide with different content -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="section-3 container-fluid">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="section-3-text">
                                        <h1>高可靠性</h1>
                                        <div class="image-container">
                                            <img src="images/png蓝色光.png" alt="img" class="image-fluid">
                                        </div>                                  
                                      <p class="text-center px-md-5 fw-bold">5000m高原 <br>烂泥地块通行 <br> -41℃低温雪地行驶 <br>+46°℃高温沙漠行驶 <br>水平越壕≥700mm</p> 
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="section-image mb-5">
                                        <img src="images/jeep.png" alt="car-image" class="img-fluid">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="section-3-text">
                                    <h1>高可靠性</h1>
                                    <div class="image-container">
                                        <img src="images/png蓝色光.png" alt="img" class="image-fluid">
                                    </div>                                  
                                  <p class="text-center px-md-5 fw-bold">5000m高原 <br>烂泥地块通行 <br> -41℃低温雪地行驶 <br>+46°℃高温沙漠行驶 <br>水平越壕≥700mm</p> 
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="section-image">
                                    <img src="images/jeep.png" alt="car-image" class="img-fluid">
                                </div>
                            </div>  
                        </div>
                    </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="section-3-text">
                                <h1>高可靠性</h1>
                                <div class="image-container">
                                    <img src="images/png蓝色光.png" alt="img" class="image-fluid">
                                </div>                                  
                              <p class="text-center px-md-5 fw-bold">5000m高原 <br>烂泥地块通行 <br> -41℃低温雪地行驶 <br>+46°℃高温沙漠行驶 <br>水平越壕≥700mm</p> 
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="section-image mb-5">
                                <img src="images/jeep.png" alt="car-image" class="img-fluid">
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="section-4 container-fluid px-0">
        <div class="section-4-bg">
            <img src="images/car-tyres.png" alt="jeep" class="img-fluid">
            <div class="section-4-title w-75">
                <h1 class="fw-bold">逆行者500底盘</h1>
                <p>单排底盘：单排底盘可用于方舱类车辆改装，例如:通信车、器材车、救护车、旅居车等。 <br>
                    双排底盘：双排底盘可用于载人类车辆改装,例如:指挥车、防暴车前突车作业车等</p>
            </div>
            <div class="section-4-text d-flex">
               <button class="px-4">产品价格</button>
               <button class=" px-4">组 130</button>
            </div>
        </div>
        <div class="arrow-btn" id="arrow-button">
        <button onclick="scrollToTop()"><i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>        
       </div>
    </div>
    <div class="section-5 container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h6 class="pt-4 px-3">左视图</h6>
                <img src="images/矩形 1520 拷贝 13.png" alt="jeep-structure" class="img-fluid" >
            </div>
            <div class="col-md-4">
                <h6 class="px-3 pt-4">左视图</h6>
                <img src="images/矩形 1520 拷贝 16.png" alt="jeep-structure" class="img-fluid" >
            </div>
            <div class="col-md-4">
                <h6 class="px-3 pt-4">左视图</h6>
                <img src="images/矩形 1520 拷贝 15.png" alt="jeep-structure" class="img-fluid" >
            </div>
        </div>
    </div>
    <div class="section-6 container-fluid">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="section-image">
                                        <img src="images/car-staring.png" alt="car-image" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="section-6-text">
                                        <h1>产品改装参数</h1>
                                        <p class="pt-2 text-center px-5">东风猛士逆行者500拥有优异的改装便利性，<br>
                                            产品自身带有丰富电气动力油 接口。</p>
                                    </div>
                                    <div class="section-6-text-2">
                                        <h1>变速箱取力口</h1>
                                        <p class="pt-2 text-center px-5">东风猛士逆行者500拥有优异的改装便利性，<br>
                                            产品自身带有丰富电气动力油 接口。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="section-image">
                                    <img src="images/car-staring.png" alt="car-image" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="section-6-text">
                                    <h1>产品改装参数</h1>
                                    <p class="pt-2 text-center px-5">东风猛士逆行者500拥有优异的改装便利性，<br>
                                        产品自身带有丰富电气动力油 接口。</p>
                                </div>
                                <div class="section-6-text-2">
                                    <h1>变速箱取力口</h1>
                                    <p class="pt-2 text-center px-5">东风猛士逆行者500拥有优异的改装便利性，<br>
                                        产品自身带有丰富电气动力油 接口。</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="section-image mb-5">
                                <img src="images/car-staring.png" alt="car-image" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-6-text">
                                <h1>产品改装参数</h1>
                                <p class="pt-2 text-center px-5">东风猛士逆行者500拥有优异的改装便利性，<br>
                                    产品自身带有丰富电气动力油 接口。</p>
                            </div>
                            <div class="section-6-text-2">
                                <h1>变速箱取力口</h1>
                                <p class="pt-2 text-center px-5">东风猛士逆行者500拥有优异的改装便利性，<br>
                                    产品自身带有丰富电气动力油 接口。</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
                <!-- Repeat the above swiper-slide structure for each additional slide with different content -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="section-7 container-fluid">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 px-0">
                               <div class="section-7-text">
                                <div class="pe-3">
                                    <h1 class="fw-bold">逆行者500整车介绍</h1>
                                    <p class="text-start">厢式越野车型，动力系统为200马力，有低顶、中顶两种车型，可满足4-6人的载客需求与0.3吨到1.8吨的载货需求。</p>
                                </div>
                               </div>
                            </div>
                            <div class="col-md-8 px-0">
                                <div class="section-image mb-5">
                                    <img src="images/jeep2.png" alt="car-image" class="img-fluid">
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 px-0">
                               <div class="section-7-text">
                                <div class="pe-3">
                                    <h1 class="fw-bold">逆行者500整车介绍</h1>
                                    <p class="text-start">厢式越野车型，动力系统为200马力，有低顶、中顶两种车型，可满足4-6人的载客需求与0.3吨到1.8吨的载货需求。</p>
                                </div>
                               </div>
                            </div>
                            <div class="col-md-8 px-0">
                                <div class="section-image mb-5">
                                    <img src="images/jeep2.png" alt="car-image" class="img-fluid">
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 px-0">
                           <div class="section-7-text">
                            <div class="pe-3">
                                <h1 class="fw-bold">逆行者500整车介绍</h1>
                                <p class="text-start">厢式越野车型，动力系统为200马力，有低顶、中顶两种车型，可满足4-6人的载客需求与0.3吨到1.8吨的载货需求。</p>
                            </div>
                           </div>
                        </div>
                        <div class="col-md-8 px-0">
                            <div class="section-image mb-5">
                                <img src="images/jeep2.png" alt="car-image" class="img-fluid">
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="section-8 container-fluid px-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">       
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="section-image">
                                <img src="images/ambulace.png" alt="car-image" class="img-fluid">
                                <div class="image-text">
                                    <p class="fw-bold">逆行者500改装车</p>
                                </div>
                                <div class="section-4-text d-flex">
                                    <button class=" px-4">产品概述</button>
                                    <button class="px-4">改装亮点</button>
                                    <button class="px-4">产品参数表</button>
                                 </div>
                            </div>
                        </div>   
                            </div>
                    </div>
                    <div class="swiper-slide">       
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="section-image">
                                    <img src="images/ambulace.png" alt="car-image" class="img-fluid">
                                    <div class="image-text">
                                        <p class="fw-bold">逆行者500改装车</p>
                                    </div>
                                    <div class="section-4-text d-flex">
                                        <button class=" px-4">产品概述</button>
                                        <button class=" px-4">改装亮点</button>
                                        <button class=" px-4">产品参数表</button>
                                     </div>
                                </div>
                            </div>   
                                </div>
                        </div>
                        <div class="swiper-slide">       
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="section-image">
                                        <img src="images/ambulace.png" alt="car-image" class="img-fluid">
                                        <div class="image-text">
                                            <p class="fw-bold">逆行者500改装车</p>
                                        </div>
                                        <div class="section-4-text d-flex">
                                            <button class=" px-4">产品概述</button>
                                            <button class=" px-4">改装亮点</button>
                                            <button class="px-4">产品参数表</button>
                                         </div>
                                    </div>
                                </div>   
                                    </div>
                            </div>
                            <div class="swiper-slide">       
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="section-image">
                                            <img src="images/ambulace.png" alt="car-image" class="img-fluid">
                                            <div class="image-text">
                                                <p class="fw-bold">逆行者500改装车</p>
                                            </div>
                                            <div class="section-4-text d-flex">
                                                <button class=" px-4">产品概述</button>
                                                <button class=" px-4">改装亮点</button>
                                                <button class=" px-4">产品参数表</button>
                                             </div>
                                        </div>
                                    </div>   
                                        </div>
                                </div>
                            <div class="swiper-slide">       
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="section-image">
                                            <img src="images/ambulace.png" alt="car-image" class="img-fluid">
                                            <div class="image-text">
                                                <p class="fw-bold">逆行者500改装车</p>
                                            </div>
                                            <div class="section-4-text d-flex">
                                                <button class="px-4">产品概述</button>
                                                <button class=" px-4">改装亮点</button>
                                                <button class="px-4">产品参数表</button>
                                             </div>
                                        </div>
                                    </div>   
                                        </div>
                                </div>
                                <div class="swiper-slide">       
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="section-image">
                                                <img src="images/ambulace.png" alt="car-image" class="img-fluid">
                                                <div class="image-text">
                                                    <p class="fw-bold">逆行者500改装车</p>
                                                </div>
                                                <div class="section-4-text d-flex ">
                                                    <button class=" px-4">产品概述</button>
                                                    <button class=" px-4">改装亮点</button>
                                                    <button class=" px-4">产品参数表</button>
                                                 </div>
                                            </div>
                                        </div>   
                                            </div>
                                    </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="section-9 container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <img src="images/ambulace1.jpg" class="img-fluid">
            </div>
            <div class="col-md-6 px-0">
                <img src="images/inside -amb.jpg" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="gray-label-text text-center py-3 ">
      <h1 class="fw-bold">需求提交</h1>
    </div>
    <!-- form -->
    <div class="container">
        <h1 class="form-heading mt-5">不要错过！获取关于东风越野车的最新消息</h1>
        <form action="feedback/new" method="post">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="text" class="form-control mt-2 py-2 remove-focus-outline rounded-0" id="input-nfirstname" placeholder="名字:">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="text" class="form-control mt-2 py-2 remove-focus-outline rounded-0" id="input-lastname" placeholder="姓氏:">
                    </div>                </div>
                <div class="col-md-6">
                    <div class="input-with-label">
                        <span class="required-input"></span>
                        <input type="text" class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-email" placeholder="邮箱:">
                    </div>                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="input-phone" placeholder="手机:">
                </div>
                <div class="col-md-6">
                    <select class="form-select mt-4 py-2 remove-focus-outline rounded-0" aria-label="Default select example">
                        <option selected>咨询车型</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-select mt-4 py-2 remove-focus-outline rounded-0" aria-label="Default select example">
                        <option selected>国家/地区</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="input-group mt-4">
                    <textarea class="form-control remove-focus-outline rounded-0" name="body" aria-label="需求描述 With textarea" placeholder="需求描述"></textarea>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input rounded-0" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    我同意隐私政策
                </label>
              </div>
              <div class="bottom-text">
                对于您提供的个人信息，我们将尊重您的隐私并严格保密
              </div>

            <!-- Additional form fields can be added here -->
            <div class="form-btn d-flex justify-content-center mt-4">
                <button type="submit" class="btn py-2">提交</button>
            </div>
        </form>
    </div>
{% endblock %}

    {% block javascript %}
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
        loop:true,
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });
    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
  </script>
    {% endblock %}
