{% extends 'base.html.twig' %}

{% block title %}Hello ZoujinController!{% endblock %}
{% block style %}
<link rel="stylesheet" href="/css/services.css?version=5.1">
<link rel="stylesheet" href="/css/daolan.css?version=3.6">
<link rel="stylesheet" href="/css/meili.css?version=3.2">
<link rel="stylesheet" href="/css/hovertips.css">
{% endblock %}

{% block main %}
		<div class="hotelbox" id="service_1">
			<div class="hotelcontainer">
				<div class="hotelleft swiper-container">
					<div class="left_wrapper swiper-wrapper">
						<!--此处jquery写入酒店轮播图数据-->
					</div>
					<div class="pagination"></div>
				</div>
				<div class="hotelright">
					<div class="titlebox">
						<div class="titlecxt">
            东沟简介
						<p class="">DONGGOU INTRODUCE</p>
            </div>
					</div>
					<div class="content">
						<div class="cxt">
							<!--此处jquery写入酒店分类对应的介绍-->
						</div>
					</div>
				</div>
			</div>
		</div>
    
		<!--行程规划-->

		<div class="planbox" id="daolan_4" style="background-image: url(/images/zoujin_xingcheng_bg.jpg);background-repeat: no-repeat;">

			<div class="container planflex">

				<div class="titlebox">

					<div class="bigtitle">行程规划</div>

					<div class="smalltitle">选择您的出行方式，我们将给您做出推荐</div>

				</div>

				<div class="planetogo">

					
							<div class="plane_title">

								<img src="http://www.sanxiarenjia.com/uploads/images/20190924/1569312563HPAO3AnVwr7284.png" alt="飞机出行">

								<div>飞机出行</div>

							</div>

							
							<div class="planeway">

								<div class="name">十堰武当山机场——桃源人家</div>

								<div class="path"><p><span>东沟景区面积11.4平方公里，距十堰城区13公里，自十堰火车站、十堰武当山机场到景区， 有高等级旅游公路仅需30分钟车程可直达。</span></p></div>

							</div>

							
				</div>

				<div class="threewaysbox">

					
							<div class="waytogo">

								<div class="way_title">

									<img src="http://www.sanxiarenjia.com/uploads\images\20190924\1569312576xCF6Q3mSWY9806.png" alt="火车出行" />

									<div>火车出行</div>

								</div>

								
								<div class="wayway">

									<div class="name">十堰东站——桃源人家</div>

									<ul class="li_item">
                  <p><span style="">1、在宜昌东站乘坐B9路公交车，在BRT西陵一路站下车，步行340米在夷陵广场公交车站转乘10-1<span style="">路公交旅游专线车</span>至终点站三峡人家游客中心。</span><br/></p><p><span style="">2、<span style="">在宜昌东站乘坐B1路公交车，在市住建局站下车，步行490米在夷陵广场公交车站转乘10-1<span style="">路公交旅游专线车</span>至终点站三峡人家游客中心。</span></span></p><p style="line-height: normal;"><span style=""><span style=""><span style=""></span></span></span></p></ul>

								</div>

								
							</div>	

						
							<div class="waytogo">

								<div class="way_title">

									<img src="http://www.sanxiarenjia.com/uploads/images/20190926/1569481231YXw5RGc7646687.png" alt="客车出行" />

									<div>客车出行</div>

								</div>

								
								<div class="wayway">

									<div class="name">宜昌市区10-1路公交旅游专线车</div>

									<ul class="li_item"><p><span style="">宜昌市区至三峡人家的10-1路公交旅游专线车，起点站位于夷陵广场，终点站位于三峡人家游客中心，首班时间为8:05从夷陵广场发车，末班时间17:30从三峡人家游客中心发车，每班平均间隔时间45分钟左右，全程票价15元。</span><br/></p></ul>

								</div>

								
							</div>	

						
							<div class="waytogo">

								<div class="way_title">

									<img src="http://www.sanxiarenjia.com/uploads/images/20191010/1570678337Cn6kunNKYs1078.png" alt="自驾出行" />

									<div>自驾出行</div>

								</div>

								
								<div class="wayway">

									<div class="name">沪渝高速公路</div>

									<ul class="li_item"><p><span style="">推荐</span><span style="">：自驾车经沪渝高速公路（</span><span style="">G</span><span style="">50</span><span style="">）过宜昌收费站，在“</span><span style="">夷陵区</span><span style="">”出口</span><span style="">下高速</span><span style="">，</span><span style="">下高速后左转</span><span style="">，</span><span style="">经</span><span style="">“中核半岛城邦”“</span><span style="">三游洞</span><span style="">”</span><span style="">，可直达三峡人家</span><span style="">游客中心。</span></p></ul>

								</div>

								
							</div>	

						
				</div>

			</div>

		</div>

		<!--名俗表演-->
		<div class="act_container" id="meili_2">
			<div class="actbox container">
				<div class="left" style="background-image: url(http://www.sanxiarenjia.com/uploads/images/20190925/1569405734SeepITBZBJ8373.jpg);background-repeat: no-repeat;"></div>
				<div class="right">
					<div class="swiper-container act_swiper">
						<div class="swiper-wrapper act_wrapper">
														
							<div class="swiper-slide act_slide" id="75">
								<div class="act_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660808877U5KesmCp8q3504.jpg" /></div>
								<div class="slide_info">
									<div class="info_title">女书表演</div>
									<div class="info_desc">女书是世界上发现的唯一一种神秘而奇特的女性文字，书写在布面、扇面、纸片上，作品绝大部分为七字韵文......</div>
									<div class="info_more" id="75"><img src="/static/index/images/icons/add.png"/></div>
								</div>
							</div>
														
							<div class="swiper-slide act_slide" id="78">
								<div class="act_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660808796uvQrgdotdq3105.jpg" /></div>
								<div class="slide_info">
									<div class="info_title">巴族巫傩</div>
									<div class="info_desc">巫傩文化历史悠久，已有几千年的传承，我们的祖先信奉鬼神，相信万物有灵，能禳灾祈福。巴王寨巫傩表演......</div>
									<div class="info_more" id="78"><img src="/static/index/images/icons/add.png"/></div>
								</div>
							</div>
														
							<div class="swiper-slide act_slide" id="79">
								<div class="act_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660808691nU5ZKL8K1y7395.jpg" /></div>
								<div class="slide_info">
									<div class="info_title">土家歌舞</div>
									<div class="info_desc">巴王寨土家歌舞是由三峡人家艺术团倾情打造的一台大型山水实景表演，节目包含土家族古老而原始的舞蹈“茅......</div>
									<div class="info_more" id="79"><img src="/static/index/images/icons/add.png"/></div>
								</div>
							</div>
														
							<div class="swiper-slide act_slide" id="81">
								<div class="act_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220818/16608086176UD7qCtNXU5314.jpg" /></div>
								<div class="slide_info">
									<div class="info_title">峡江号子</div>
									<div class="info_desc">峡江号子在长江流域流传广泛、影响深远，被载入第二批国家级非物质文化遗产名录，它可分为上水、下水号......</div>
									<div class="info_more" id="81"><img src="/static/index/images/icons/add.png"/></div>
								</div>
							</div>
													</div>
						<img class="leftarrow" src="/images/leftarrow.png" />
						<img class="rightarrow" src="/images/rightarrow.png" />
					</div>
				</div>
			</div>
		</div>

		<!--名俗表演2-->
		<div class="act_container history" id="meili_3">
			<div class="actbox container">
				<div class="right">
					<div class="swiper-container act_swiper">
						<div class="swiper-wrapper act_wrapper">
														
							<div class="swiper-slide act_slide" id="75">
								<div class="act_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660808877U5KesmCp8q3504.jpg" /></div>
								<div class="slide_info">
									<div class="info_title">女书表演</div>
									<div class="info_desc">女书是世界上发现的唯一一种神秘而奇特的女性文字，书写在布面、扇面、纸片上，作品绝大部分为七字韵文......</div>
									<div class="info_more" id="75"><img src="/static/index/images/icons/add.png"/></div>
								</div>
							</div>
														
							<div class="swiper-slide act_slide" id="78">
								<div class="act_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660808796uvQrgdotdq3105.jpg" /></div>
								<div class="slide_info">
									<div class="info_title">巴族巫傩</div>
									<div class="info_desc">巫傩文化历史悠久，已有几千年的传承，我们的祖先信奉鬼神，相信万物有灵，能禳灾祈福。巴王寨巫傩表演......</div>
									<div class="info_more" id="78"><img src="/static/index/images/icons/add.png"/></div>
								</div>
							</div>
														
							<div class="swiper-slide act_slide" id="79">
								<div class="act_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660808691nU5ZKL8K1y7395.jpg" /></div>
								<div class="slide_info">
									<div class="info_title">土家歌舞</div>
									<div class="info_desc">巴王寨土家歌舞是由三峡人家艺术团倾情打造的一台大型山水实景表演，节目包含土家族古老而原始的舞蹈“茅......</div>
									<div class="info_more" id="79"><img src="/static/index/images/icons/add.png"/></div>
								</div>
							</div>
														
							<div class="swiper-slide act_slide" id="81">
								<div class="act_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220818/16608086176UD7qCtNXU5314.jpg" /></div>
								<div class="slide_info">
									<div class="info_title">峡江号子</div>
									<div class="info_desc">峡江号子在长江流域流传广泛、影响深远，被载入第二批国家级非物质文化遗产名录，它可分为上水、下水号......</div>
									<div class="info_more" id="81"><img src="/static/index/images/icons/add.png"/></div>
								</div>
							</div>
													</div>
						<img class="leftarrow" src="/images/leftarrow.png" />
						<img class="rightarrow" src="/images/rightarrow.png" />
					</div>
				</div>
				<div class="left" style="background-image: url(http://www.sanxiarenjia.com/uploads/images/20190925/1569405734SeepITBZBJ8373.jpg);background-repeat: no-repeat;"></div>
			</div>
		</div>

		<!--景区活动-->
		<div class="activityBox" id="meili_4">
			<div class="activity_container container">
				<div class="activitybox_title">
					<div>东沟荣誉</div>
				</div>
				<div class="honor">
          <img src="/images/honor.jpg" />
        </div>
				<div class="swiper-container activity_swiper">
					<div class="swiper-wrapper activity_wrapper">
												<div class="swiper-slide activity_slide" id="60">
							<div class="activity_img"><img src="http://www.sanxiarenjia.com/uploads/images/20191025/1571993451dTQuJzc9Ty8566.jpg"></div>
							<div class="activity_name">“三峡人家杯”LIVE FUN天使旅行家选拔赛赛程</div>
						</div>
												<div class="swiper-slide activity_slide" id="61">
							<div class="activity_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220901/1662010167gxN4GrXPaT3158.jpg"></div>
							<div class="activity_name">消逝的巴族与濒危的语言</div>
						</div>
												<div class="swiper-slide activity_slide" id="92">
							<div class="activity_img"><img src="http://www.sanxiarenjia.com/uploads/images/20191025/15719930830V5Esznm148167.jpg"></div>
							<div class="activity_name">“诗词中的新三峡”有奖征稿获奖作品公示</div>
						</div>
												<div class="swiper-slide activity_slide" id="119">
							<div class="activity_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220901/1662012483xkXXKes3qP5075.jpg"></div>
							<div class="activity_name">写意长江——湖北省国画院画家采风团走进三峡人家</div>
						</div>
												<div class="swiper-slide activity_slide" id="451">
							<div class="activity_img"><img src="http://www.sanxiarenjia.com/uploads/images/20220901/1661999719i4hwfC6KGR4899.jpg"></div>
							<div class="activity_name">“歌游中国”唱响宝岛 “三峡人家”惊艳台北</div>
						</div>
											</div>
					<img class="leftarrow" src="/images/leftarrow.png" />
					<img class="rightarrow" src="/images/rightarrow.png" />
				</div>
			</div>
		</div>


{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/services.js?version=2.3') }}"></script>
    <script src="/js/meili.js?version=2.3"></script>
{% endblock %}
