{% extends 'base.html.twig' %}

{% block style %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}
		<!-- 公用顶部导航 -->

		<div class="headerbox">

			<!-- PC端导航 -->

			<header class="header SourceHanSansCN-Regular">

				<div class="container clearfix conflex">
					<div class="wapLogo"><a href="/index.html"><img src="http://www.sanxiarenjia.com/uploads/images/20191018/1571384488Cu1Lzq7jHl6653.png"></a></div>
					<div class="left">

						<a href="/index.html"><img src="/images/logo.png"></a>

					</div>

					<div class="nav">
						<ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
							<li class="active">
								<a href="javascript:void(0)" id="indexli">首页</a>
							</li>
														<li class="dropdown" id="113" classname="导览">
								<a href="javascript:void(0)">走进东沟</a>
								<div class="dropdown_menu">
																		<a href="/daolan/index?target=daolan_1">售票时间</a>
									<a href="/daolan/index?target=daolan_2">开放时间</a>
									<a href="/daolan/index?target=daolan_3">票务预订</a>
									<a href="/daolan/index?target=daolan_4">行程规划</a>
									<a href="/daolan/index?target=daolan_5">旅游攻略</a>
																	</div>
							</li>
														<li class="dropdown" id="48" classname="景区介绍">
								<a href="javascript:void(0)">乐游东沟</a>
								<div class="dropdown_menu">
																		<a href="/jingqu/index?target=jingqu_1">龙溪神韵</a>
																		<a href="/jingqu/index?target=jingqu_2">巴人部落</a>
																		<a href="/jingqu/index?target=jingqu_3">洪荒时代</a>
																		<a href="/jingqu/index?target=jingqu_4">石牌要塞</a>
																		<a href="/jingqu/index?target=jingqu_5">三峡观坝</a>
																		<a href="/jingqu/index?target=jingqu_6">西陵画廊</a>
																	</div>
							</li>
														<li class="dropdown" id="100" classname="新闻资讯">
								<a href="javascript:void(0)">新闻资讯</a>
								<div class="dropdown_menu">
																		<a href="/news/index?cid=50">景区公告</a>	
																		<a href="/news/index?cid=51">景区新闻</a>	
																		<a href="/news/index?target=news_3">党建文明</a>
																		<a href="/news/index?target=news_4">安全质量</a>
																	</div>
							</li>
														<li class="dropdown" id="101" classname="景区服务">
								<a href="javascript:void(0)">旅行游记</a>
								<div class="dropdown_menu">
																		<a href="/service/index?target=service_1">酒店预订</a>
																		<a href="/service/index?target=service_2">峡江美食</a>
																		<a href="/service/index?target=service_3">三峡特产</a>
																		<a href="/service/index?target=service_4">娱乐休闲</a>
																		<a href="/service/index?target=service_5">定制服务</a>
																	</div>
							</li>
														<li class="dropdown" id="54" classname="魅力三峡">
								<a href="javascript:void(0)">联系我们</a>
								<div class="dropdown_menu">
																		<a href="/meili/index?target=meili_1">作品欣赏</a>
																		<a href="/meili/index?target=meili_2">民俗表演</a>
																		<a href="/meili/index?target=meili_3">诗画三峡</a>
																		<a href="/huodong/index">景区活动</a>	
																	</div>
							</li>
													</ul>
					</div>

					<div class="smallicons">
						<div class="iconbox">
							<div class="icons" id="wxicon"><img src="http://www.sanxiarenjia.com/static/index/images/icons/wx.png?version=1.0"></div>
							<div class="icons" id="sinaicon"><img src="http://www.sanxiarenjia.com/static/index/images/icons/sina.png?version=1.0"></div>
							<div class="icons" id="dyicon"><img src="http://www.sanxiarenjia.com/static/index/images/icons/douyin.png?version=1.0"></div>
							<div class="icons" id="musicicon"><img src="http://www.sanxiarenjia.com/static/index/images/icons/index_music_icon.png?version=1.0"></div>
						</div>
						<div class="qrcode">
							
						</div>
						
					</div>

					<a href="javascript:void(0)" id="navToggle">

						<span></span>

					</a>

				</div>
				

				<div class="fullGuide" style="background-image: url(http://www.sanxiarenjia.com/static/index/images/section6/section6bg.jpg);background-repeat:no-repeat;">

					<div class="guideBox" style="background-image: url(http://www.sanxiarenjia.com/static/index/images/header/guidebg.jpg);background-repeat: no-repeat;">

						<div class="closeimg" classname="导览"><img src="http://www.sanxiarenjia.com/static/index/images/header/close.png"></div>

						<img class="headerlogo" src="http://www.sanxiarenjia.com/uploads/images/20191105/1572926720Kvlv4RFo3H6265.png" class="img-responsive" />

						<div class="navsbox">
														<div class="navsitem">
								<div class="navname">导览</div>
																	<a href="/daolan/index?target=daolan_1">售票时间</a>
									<a href="/daolan/index?target=daolan_2">开放时间</a>
									<a href="/daolan/index?target=daolan_3">票务预订</a>
									<a href="/daolan/index?target=daolan_4">行程规划</a>
									<a href="/daolan/index?target=daolan_5">旅游攻略</a>
																</div>
														<div class="navsitem">
								<div class="navname">景区介绍</div>
																	<a href="/jingqu/index?target=jingqu_1">龙溪神韵</a>
																		<a href="/jingqu/index?target=jingqu_2">巴人部落</a>
																		<a href="/jingqu/index?target=jingqu_3">洪荒时代</a>
																		<a href="/jingqu/index?target=jingqu_4">石牌要塞</a>
																		<a href="/jingqu/index?target=jingqu_5">三峡观坝</a>
																		<a href="/jingqu/index?target=jingqu_6">西陵画廊</a>
																</div>
														<div class="navsitem">
								<div class="navname">智慧旅游</div>
																	<a href="/zhihuilvyou/index?target=zhihuilvyou_1">景区地图</a>
									<a href="/zhihuilvyou/index?target=zhihuilvyou_2">全景导览</a>
									<a href="/zhihuilvyou/index?target=zhihuilvyou_3">语音导游</a>
									<a href="/zhihuilvyou/index?target=zhihuilvyou_4">景区影像</a>
																</div>
														<div class="navsitem">
								<div class="navname">新闻资讯</div>
																	<a href="/news/index?cid=50">景区公告</a>	
																		<a href="/news/index?cid=51">景区新闻</a>	
																		<a href="/news/index?target=news_3">党建文明</a>
																		<a href="/news/index?target=news_4">安全质量</a>
																</div>
														<div class="navsitem">
								<div class="navname">景区服务</div>
																	<a href="/service/index?target=service_1">酒店预订</a>
																		<a href="/service/index?target=service_2">峡江美食</a>
																		<a href="/service/index?target=service_3">三峡特产</a>
																		<a href="/service/index?target=service_4">娱乐休闲</a>
																		<a href="/service/index?target=service_5">定制服务</a>
																</div>
														<div class="navsitem">
								<div class="navname">魅力三峡</div>
																	<a href="/meili/index?target=meili_1">作品欣赏</a>
																		<a href="/meili/index?target=meili_2">民俗表演</a>
																		<a href="/meili/index?target=meili_3">诗画三峡</a>
																		<a href="/huodong/index">景区活动</a>	
																</div>
													</div>

					</div>

				</div>

			</header>
			<!-- 移动端导航 -->

			<div class="m_nav">
				<div class="top clearfix">
					<img src="http://www.sanxiarenjia.com/static/index/images/closed.png" alt="" class="closed" />
				</div>
				<div class="logo">
					<a href="/../index"><img src="http://www.sanxiarenjia.com/uploads/images/20191105/1572926720Kvlv4RFo3H6265.png" alt="" /></a>
				</div>
				<ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
					<li class="active">
						<a href="/../index">首页</a>
					</li>
										<li class="dropdown">
												<a href="javascript:void(0)">导览</a>
						<div class="dropdown_menu">
																	<a href="/daolan/index?target=daolan_1">售票时间</a>
										<a href="/daolan/index?target=daolan_2">开放时间</a>
										<a href="/daolan/index?target=daolan_3">票务预订</a>
										<a href="/daolan/index?target=daolan_4">行程规划</a>
										<a href="/daolan/index?target=daolan_5">旅游攻略</a>
															</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">景区介绍</a>
						<div class="dropdown_menu">
																<a href="/jingqu/index?target=jingqu_1">龙溪神韵</a>
																	<a href="/jingqu/index?target=jingqu_2">巴人部落</a>
																	<a href="/jingqu/index?target=jingqu_3">洪荒时代</a>
																	<a href="/jingqu/index?target=jingqu_4">石牌要塞</a>
																	<a href="/jingqu/index?target=jingqu_5">三峡观坝</a>
																	<a href="/jingqu/index?target=jingqu_6">西陵画廊</a>
														</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">智慧旅游</a>
						<div class="dropdown_menu">
																	<a href="/zhihuilvyou/index?target=zhihuilvyou_1">景区地图</a>
										<a href="/zhihuilvyou/index?target=zhihuilvyou_2">全景导览</a>
										<a href="/zhihuilvyou/index?target=zhihuilvyou_3">语音导游</a>
										<a href="/zhihuilvyou/index?target=zhihuilvyou_4">景区影像</a>
															</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">新闻资讯</a>
						<div class="dropdown_menu">
																<a href="/news/index?target=news_1">景区公告</a>
																	<a href="/news/index?target=news_2">景区新闻</a>
																	<a href="/news/index?target=news_3">党建文明</a>
																	<a href="/news/index?target=news_4">安全质量</a>
														</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">景区服务</a>
						<div class="dropdown_menu">
																<a href="/service/index?target=service_1">酒店预订</a>
																	<a href="/service/index?target=service_2">峡江美食</a>
																	<a href="/service/index?target=service_3">三峡特产</a>
																	<a href="/service/index?target=service_4">娱乐休闲</a>
																	<a href="/service/index?target=service_5">定制服务</a>
														</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">魅力三峡</a>
						<div class="dropdown_menu">
																<a href="/meili/index?target=meili_1">作品欣赏</a>
																	<a href="/meili/index?target=meili_2">民俗表演</a>
																	<a href="/meili/index?target=meili_3">诗画三峡</a>
																	<a href="/huodong/index">景区活动</a>	
															</div>
											</li>
									</ul>

			</div>

		</div>

		<!--返回首页-->

		<div class="gotop"><img src="http://www.sanxiarenjia.com/static/index/images/icons/up.png"></div>

		<!--公用文章或图片弹窗-->

		<div class="popupWindow" style="display: none;">

			<div class="popupContainer">

				<img class="popimg1" src="http://www.sanxiarenjia.com/static/index/images/icons/popup_meihua1.png" />

				<img class="popimg2" src="http://www.sanxiarenjia.com/static/index/images/icons/popup_meihua2.png" />

				<img class="popimg3" src="http://www.sanxiarenjia.com/static/index/images/icons/popup_meihua3.png" />

				<img class="popimg4" src="http://www.sanxiarenjia.com/static/index/images/icons/popup_meihua4.png" />

				<img class="popupClose" src="http://www.sanxiarenjia.com/static/index/images/icons/window_close.png" />

				<div class="popupCxt"></div>

			</div>

		</div>

		<!--视频播放弹窗-->

		<div class="videoWindow" style="display: none;">

			<div class="videoContainer">

				<img class="videoClose" src="http://www.sanxiarenjia.com/static/index/images/icons/window_close.png" />

				<div class="videoCxt" id="mapuse"></div>

			</div>

		</div>
		
		<!--画集大图弹窗-->
		<div class="pictureWindow" style="display: none;">
			<div class="picturebox"></div>
		</div>

		

<!-- 内容 -->

<link rel="stylesheet" href="/css/index.css?version=6.3">

<div id="index_main" class="index_main">

	<!--第一屏-->

	<div class="section section1">

		<div class="index_banner">

			
			<div class="item">

				<div class="items scaleBg" style="background-image: url(/images/home_slider_1.jpg);"></div>

				<div class="inner">

					
					<div class="block_txt1">

						<div class="en_words"><p>TAOYUAN HOMESTAY</p></div>

						<div class="zh_words"><p>桃源人家民宿</p></div>

					</div>

					
				</div>

			</div>

			
			<div class="item">

				<div class="items scaleBg" style="background-image: url(http://www.sanxiarenjia.com/uploads/images/20190926/1569469498RWe9mcEh2Z1261.jpg);"></div>

				<div class="inner">

					
					<div class="block_txt">

						<h4><p>PICTURESQUE SCENERY</p></h4>

						<h2><p>依山傍水·风景如画</p></h2>

						<h3></h3>

					</div>

					
				</div>

			</div>

			
			<div class="item">

				<div class="items scaleBg" style="background-image: url(http://www.sanxiarenjia.com/uploads/images/20190926/15694640193nDPS6usnw8937.jpg);"></div>

				<div class="inner">

					
					<div class="block_txt">

						<h4><p>NATURAL AND SIMPLE ·TUJIA CULTURE</p></h4>

						<h2><p>自然质朴·土家文化</p></h2>

						<h3></h3>

					</div>

					
				</div>

			</div>

			
		</div>

		<!--第一屏 end-->

	</div>
	
	<!--第二屏-->
	<div class="section section2" style="background-image: url(/images/xingcheng.jpg);background-repeat:no-repeat;">

		<div class="container sec2flex">

			<div class="sec2flex_left">

				<div class="sec2_title">行程规划</div>

				<div class="sec2_fu_title">选择您的出行方式，我们将给您做出推荐</div>

				<div class="ways">
					<div class="way">

						<img src="http://www.sanxiarenjia.com/uploads/images/20191010/15706733349FDzgHXL2I8302.png" />

						<div>高铁出行</div>

					</div>
					
					<div class="way">

						<img src="http://www.sanxiarenjia.com/uploads/images/20191010/1570678044ExSQeuHXr95731.png" />

						<div>客车出行</div>

					</div>

					<div class="way">

						<img src="http://www.sanxiarenjia.com/uploads/images/20190926/15694611060xWNEqhmL21648.png" />

						<div>飞机出行</div>

					</div>
					
					<div class="way">

						<img src="http://www.sanxiarenjia.com/uploads/images/20191010/1570678111agkSuYNrEG8928.png" />

						<div>自驾路线</div>

					</div>

					
				</div>
				<div class="canclickmap"></div>

				<div class="sec2_fu_title1 em-1 bold">

					<div class="gonglue">
						<a href="/daolan/index?target=daolan_5">地图导航 >></a>
					</div>

				</div>

			</div>

			<div class="sec2flex_right">



			</div>

		</div>

	</div>
	<!--第二屏end-->
	
	<!--第三屏-->
	<div class="section section3">

		<div class="container sec3flex">

			<div class="sec3title">景区介绍</div>
			<div class="">选择您的出行方式，我们将给您做出推荐</div>

			<div class="viewsbox">

				
				<div class="views">

					<div class="top">

						<img class="img-responsive" src="/images/jingqu_1.jpg" />

						<div class="hovertip">

							<div>
								<a href="/jingqu/index?target=jingqu_1"><img src="http://www.sanxiarenjia.com/static/index/images/icons/more.png"></a>
							</div>

							<div class="knowmore">
								<a href="/jingqu/index?target=jingqu_1">了解更多</a>
							</div>

						</div>

					</div>

					<div class="bottom">

						<div class="view_title">
							<a href="/jingqu/index?target=jingqu_1">中原突围部西北历史纪念馆</a>
						</div>

					</div>

				</div>

				
				<div class="views">

					<div class="top">

						<img class="img-responsive" src="/images/jingqu_2.jpg" />
						<div class="hovertip">

							<div>
								<a href="/jingqu/index?target=jingqu_2"><img src="http://www.sanxiarenjia.com/static/index/images/icons/more.png"></a>
							</div>

							<div class="knowmore">
								<a href="/jingqu/index?target=jingqu_2">了解更多</a>
							</div>

						</div>

					</div>

					<div class="bottom">

						<div class="view_title">
							<a href="/jingqu/index?target=jingqu_2">烈士陵园</a>
						</div>

					</div>

				</div>

				
				<div class="views">

					<div class="top">


						<img class="img-responsive" src="/images/jingqu_3.jpg" />
						<div class="hovertip">

							<div>
								<a href="/jingqu/index?target=jingqu_3"><img src="http://www.sanxiarenjia.com/static/index/images/icons/more.png"></a>
							</div>

							<div class="knowmore">
								<a href="/jingqu/index?target=jingqu_3">了解更多</a>
							</div>

						</div>

					</div>

					<div class="bottom">

						<div class="view_title">
							<a href="/jingqu/index?target=jingqu_3">云上牡丹园</a>
						</div>

					</div>

				</div>

				
				<div class="views">

					<div class="top">


						<img class="img-responsive" src="/images/jingqu_4.jpg" />
						<div class="hovertip">

							<div>
								<a href="/jingqu/index?target=jingqu_4"><img src="http://www.sanxiarenjia.com/static/index/images/icons/more.png"></a>
							</div>

							<div class="knowmore">
								<a href="/jingqu/index?target=jingqu_4">了解更多</a>
							</div>

						</div>

					</div>

					<div class="bottom">

						<div class="view_title">
							<a href="/jingqu/index?target=jingqu_4">念情谷—猕猴园</a>
						</div>

					</div>

				</div>

				
				<div class="views">

					<div class="top">

						<img class="img-responsive" src="/images/jingqu_5.jpg" />

						<div class="hovertip">

							<div>
								<a href="/jingqu/index?target=jingqu_5"><img src="http://www.sanxiarenjia.com/static/index/images/icons/more.png"></a>
							</div>

							<div class="knowmore">
								<a href="/jingqu/index?target=jingqu_5">了解更多</a>
							</div>

						</div>

					</div>

					<div class="bottom">

						<div class="view_title">
							<a href="/jingqu/index?target=jingqu_5">杜鹃岭</a>
						</div>

					</div>

				</div>

				
				<div class="views">

					<div class="top">

						<img class="img-responsive" src="/images/jingqu_6.jpg" />

						<div class="hovertip">

							<div>
								<a href="/jingqu/index?target=jingqu_6"><img src="http://www.sanxiarenjia.com/static/index/images/icons/more.png"></a>
							</div>

							<div class="knowmore">
								<a href="/jingqu/index?target=jingqu_6">了解更多</a>
							</div>

						</div>

					</div>

					<div class="bottom">

						<div class="view_title">
							<a href="/jingqu/index?target=jingqu_6">花开四季 — 月季园</a>
						</div>

					</div>

				</div>

				
			</div>

		</div>

	</div>

	<!--第三屏end-->
	
	<!--第四屏-->
	<div class="section section4" style="background-image: url(http://www.sanxiarenjia.com/static/index/images/section4/section4bg.jpg);background-repeat:no-repeat;">

		<div class="container sec4flex">

			<div class="sec4title">

				<div class="SourceHanSansCN-Normal">景区服务</div>

				<div class="shuoming">

					<div class="line"></div>

					<div class="smcxt SourceHanSansCN-Normal">特色景区服务 · 给您贴心体验</div>

					<div class="line"></div>

				</div>

			</div>

			<div class="services">

				
				<div class="sitem" goto="service_1" style="background-color: #a48045;">

					<div class="box">

						<div class="tag">酒店</div>

						<div class="tag_intro">灯影峡宾馆共有豪华套房、单间及标准间120余间，可同时接待近......</div>

						<div class="tag_img"><img class="img-responsive" src="http://www.sanxiarenjia.com/uploads/images/20190927/15695745075BFpu3kEkv1746.jpg" /></div>

					</div>

				</div>

				
				<div class="sitem" goto="service_2" style="background-color: #1a3a2b;">

					<div class="box">

						<div class="tag">美食</div>

						<div class="tag_intro">灯影峡宾馆餐厅及明月阁餐厅均是依山傍水，临江而建，提供各......</div>

						<div class="tag_img"><img class="img-responsive" src="http://www.sanxiarenjia.com/uploads/images/20191025/157199017759sOdLTEPB5296.jpg" /></div>

					</div>

				</div>

				
				<div class="sitem" goto="service_3" style="background-color: #918078;">

					<div class="box">

						<div class="tag">购物</div>

						<div class="tag_intro">品尝风味独特的三峡美食，品味人杰地灵的三峡文化...</div>

						<div class="tag_img"><img class="img-responsive" src="http://www.sanxiarenjia.com/uploads/images/20191025/1571992135fdLohpkjtU6030.jpg" /></div>

					</div>

				</div>

				
				<div class="sitem" goto="service_4" style="background-color: #1c2147;">

					<div class="box">

						<div class="tag">娱乐</div>

						<div class="tag_intro">春华秋实，夏雨冬雪，在这里，总有一幅画面让你心驰神往...</div>

						<div class="tag_img"><img class="img-responsive" src="http://www.sanxiarenjia.com/uploads/images/20191025/1571992409iN6t4k2lLT8371.jpg" /></div>

					</div>

				</div>

				
				<div class="sitem" goto="service_5" style="background-color: #80001c;">

					<div class="box">

						<div class="tag">定制</div>

						<div class="tag_intro">为您量身定制的旅行...</div>

						<div class="tag_img"><img class="img-responsive" src="http://www.sanxiarenjia.com/uploads/images/20191024/1571904262cFcVLVuGsw4907.jpg" /></div>

					</div>

				</div>

				
				<div class="sitem" goto="service_6" style="background-color: #2d3b63;">

					<div class="box">

						<div class="tag">智慧</div>

						<div class="tag_intro">开启你的智慧旅游...</div>

						<div class="tag_img"><img class="img-responsive" src="http://www.sanxiarenjia.com/uploads/images/20191025/1571992784Rvrtew8mpl9380.jpg" /></div>

					</div>

				</div>

				
			</div>

		</div>

	</div>
	<!--第四屏end-->
	
	<!--第五屏-->
	<div class="section section5" style="background-image: url(http://www.sanxiarenjia.com/static/index/images/section5/section5bg.jpg);background-repeat:no-repea">

		<div class="container sec5flex">

			
			<div class="sec5item">

				<div class="sec5item_title">

					<div class="name">景区公告</div>

					<div class="more" cid='50'>MORE</div>

				</div>

				 <div class="sec5item_articlebox" id="487">

					<div class="date">03-20</div>

					<div class="cxt">

						<div class="cxt_t">重要提醒...</div>

						<div class="cxt_shuoming">三峡人家风景区重 要 提 醒亲爱的游客朋友们：龙年送福惠民券......</div>

					</div>

			</div>

			 <div class="sec5item_articlebox" id="488">

					<div class="date">02-22</div>

					<div class="cxt">

						<div class="cxt_t">三峡人家风景区 | 临时闭园的公告...</div>

						<div class="cxt_shuoming">三峡人家风景区临时闭园的公告亲爱的游客朋友们：非常感谢您......</div>

					</div>

			</div>

			 <div class="sec5item_articlebox" id="489">

					<div class="date">02-03</div>

					<div class="cxt">

						<div class="cxt_t">三峡人家风景区 | 因受冰冻雨雪极端天气......</div>

						<div class="cxt_shuoming">三峡人家风景区因受冰冻雨雪极端天气影响暂时闭园的紧 急 公 ......</div>

					</div>

			</div>

			
	</div>

	
			<div class="sec5item">

				<div class="sec5item_title">

					<div class="name">景区新闻</div>

					<div class="more" cid='51'>MORE</div>

				</div>

				 <div class="sec5item_articlebox" id="493">

					<div class="date">03-27</div>

					<div class="cxt">

						<div class="cxt_t">船进三峡人家 | 第十届三峡大学桃花节，......</div>

						<div class="cxt_shuoming">满树和娇烂漫红万枝丹彩灼春融3月23日第十届“桃花文化节”于三......</div>

					</div>

			</div>

			 <div class="sec5item_articlebox" id="492">

					<div class="date">03-25</div>

					<div class="cxt">

						<div class="cxt_t">快讯 | 董宇辉来宜昌，到了这些地方…...</div>

						<div class="cxt_shuoming">3月25日（今天）董宇辉来宜昌直播啦！在【与辉同行】抖音直播......</div>

					</div>

			</div>

			 <div class="sec5item_articlebox" id="491">

					<div class="date">03-22</div>

					<div class="cxt">

						<div class="cxt_t">董宇辉来宜昌，会到哪些地方？...</div>

						<div class="cxt_shuoming"> 知音湖北 遇见宜昌 相约三月 与辉同行万众期待的董宇辉户外......</div>

					</div>

			</div>

			
	</div>

	
			<div class="sec5item">

				<div class="sec5item_title">

					<div class="name">党建文明</div>

					<div class="more" cid='52'>MORE</div>

				</div>

				 <div class="sec5item_articleimgbox" id="475">

				<div class="imgbox">

					<img src="http://www.sanxiarenjia.com/uploads/images/20230901/1693532005Ba4wYVAcBL1057.jpg" onerror="this.src='http://www.sanxiarenjia.com/static/index/images/icons/default.jpg'" class="img-responsive" />

				</div>

				<div class="cxtbox">

					<div class="title">三峡人家 | 传来喜讯！...</div>

					<div class="fu_title">近日第四届新加坡古琴艺术节“南风杯”国际古琴大赛在新加坡中国文化中心......</div>

				</div>

		</div>

		 <div class="sec5item_articleimgbox" id="447">

				<div class="imgbox">

					<img src="http://www.sanxiarenjia.com/uploads/images/20220823/1661222401wdQGQPyKKj4023.jpg" onerror="this.src='http://www.sanxiarenjia.com/static/index/images/icons/default.jpg'" class="img-responsive" />

				</div>

				<div class="cxtbox">

					<div class="title">点赞，这些“环坝好人”！...</div>

					<div class="fu_title">点赞，这些“环坝好人”！旅游业强势复苏，迎来四面八方客，环坝集团旗下.......</div>

				</div>

		</div>

		
	</div>

	
			<div class="sec5item">
				<div class="sec5item_title">

					<div class="name">安全质量</div>

					<div class="more" cid='53'>MORE</div>

				</div>

				 <div class="sec5item_articleimgbox" id="446">

				<div class="imgbox">

					<img src="http://www.sanxiarenjia.com/uploads/images/20220823/1661221597Xsh4Yspfty4059.jpg" onerror="this.src='http://www.sanxiarenjia.com/static/index/images/icons/default.jpg'" class="img-responsive" />

				</div>

				<div class="cxtbox">

					<div class="title">三峡人家艺术团 | 安全生产月，活动好精......</div>

					<div class="fu_title">三峡人家艺术团 | 安全生产月，活动好精彩！遵守安全生产法，当好第一责......</div>

				</div>

		</div>

		 <div class="sec5item_articleimgbox" id="444">

				<div class="imgbox">

					<img src="http://www.sanxiarenjia.com/uploads/images/20220823/1661220649NtSlXxrd456012.jpg" onerror="this.src='http://www.sanxiarenjia.com/static/index/images/icons/default.jpg'" class="img-responsive" />

				</div>

				<div class="cxtbox">

					<div class="title">三峡人家 | 防汛演练成功举行...</div>

					<div class="fu_title">三峡人家 | 防汛演练成功举行减轻灾害风险，守护美好家园，防汛责任重于......</div>

				</div>

		</div>

		
	</div>

	
</div>

</div>
<!--第五屏end-->

<!--第六屏-->
<div class="section section6" style="background-image: url(http://www.sanxiarenjia.com/static/index/images/section6/section6bg.jpg);background-repeat:no-repeat;">

	<div class="top">

		<div class="container sec6topflex">

			<div class="title">作品欣赏</div>

			<div class="zuopin">

				<div class="topright"></div>

				<div class="bottomleft"></div>

				<div class="zuopbox">

					
					<div class="left" style="background-image: url(http://www.sanxiarenjia.com/uploads/images/20191021/1571647792xBA2WdY6ee7995.jpg)">

						<a href="/meili/index?target=meili_video"><img src="http://www.sanxiarenjia.com/static/index/images/icons/bigplay.png" style="width: 70px;height: auto;" /></a>

					</div>

					
					<div class="right">

						<div class="rtop">

							
							<img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660810262KJQHWphMae5037.jpg" class="img-responsive" />

							<div class="hoverbox">

								<div class="top_left"></div>

								<div class="top_right"></div>

								<div class="bottom_left"></div>

								<div class="bottom_right"></div>
								<div class="cxtname"><p>蓝色幽梦</p></div>

								<div class="cxtdes"><p>秦炎,三峡人家,2020-05</p></div>

							</div>

							
						</div>

						<div class="rbottom">

							
							<div class="rbleft">

								<img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660810130NTS425DmBV2570.jpg" class="img-responsive">

								<div class="hoverbox">

									<div class="top_left"></div>

									<div class="top_right"></div>

									<div class="bottom_left"></div>

									<div class="bottom_right"></div>

									<div class="cxtname"><p>峡江之光</p></div>

									<div class="cxtdes"><p>王松,三峡人家,2020-05</p></div>

								</div>

							</div>

							
							<div class="rbright">

								<img src="http://www.sanxiarenjia.com/uploads/images/20220818/1660810419xUJJ3FpPLf1653.jpg" class="img-responsive">

								<div class="hoverbox">

									<div class="top_left"></div>

									<div class="top_right"></div>

									<div class="bottom_left"></div>

									<div class="bottom_right"></div>

									<div class="cxtname"><p>灯影婆娑四人行</p></div>

									<div class="cxtdes"><p>望开喜,三峡人家,2020-06</p></div>

								</div>

							</div>

							
						</div>

					</div>

					
				</div>

			</div>

		</div>
		<div class="container poem_picture">
			<div class="pp_left">
				<div class="hoverfather pp_left_left" goto="meili_3"  style="background-image: url(http://www.sanxiarenjia.com/uploads/images/20191024/1571912243WAOPfsX3Ag6577.jpg);">
					<img class="meihua1" src="http://www.sanxiarenjia.com/static/index/images/icons/meihua1.png" />
					<img class="meihua2" src="http://www.sanxiarenjia.com/static/index/images/icons/meihua2.png" />
					<img class="meihua3" src="http://www.sanxiarenjia.com/static/index/images/icons/meihua3.png" />
					<img class="meihua4" src="http://www.sanxiarenjia.com/static/index/images/icons/meihua4.png" />
					<div class="cxt" >两岸猿声啼不住， 轻舟已过万重山。</div>
					<div class="hovertip">诗集展</div>
				</div>
				<div class="hoverfather pp_left_right" goto="meili_3" style="background-image: url(http://www.sanxiarenjia.com/uploads/images/20191025/1571968217nsDb6wcu7U5684.jpg);">
					<img class="meihua1" src="http://www.sanxiarenjia.com/static/index/images/icons/meihua1.png" />
					<img class="meihua2" src="http://www.sanxiarenjia.com/static/index/images/icons/meihua2.png" />
					<img class="meihua3" src="http://www.sanxiarenjia.com/static/index/images/icons/meihua3.png" />
					<img class="meihua4" src="http://www.sanxiarenjia.com/static/index/images/icons/meihua4.png" />
					<div class="cxt"></div>
					<div class="hovertip">画集展</div>
				</div>
			</div>
			<div class="hoverfather pp_right" goto="meili_4" style="background-image: url(http://www.sanxiarenjia.com/uploads/images/20191024/1571912196vgU9tEtISG2065.jpg);">
				<div class="cxt"></div>
				<div class="hovertip">景区活动</div>
			</div>
		</div>

	</div>

	<div class="footerbox">

		<div class="footer_bottom">

			<div class="btop">

				<div class="iconsbox">
					<div class="iconitem">
						<a href="/daolan/index?target=daolan_6"><span class="iconfont icon-tijianxuzhi"></span></a>
						<div>游客须知</div>
					</div>
					<div class="iconitem">
						<a href="/zhihuilvyou/index?target=zhihuilvyou_1"><span class="iconfont icon-jingquditu"></span></a>
						<div>景区地图</div>
					</div>
					<div class="iconitem">
						<a href="https://720yun.com/t/c402eqzucl6?scene_id=971256" target="_blank"><span class="iconfont icon-duquanjing-
"></span></a>
						<div>全景导览</div>
					</div>
				</div>

			</div>

			<div class="bbottom">

				<div class="b_left">
					<div class="fullguide" id="index">网站地图&nbsp;&nbsp;| </div>
					<div class="aboutus" id="index">&nbsp;&nbsp;关于我们 | </div>
					<div class="contactus" id="index">&nbsp;&nbsp;联系我们 |</div>
					<div class="copyright" id="index">&nbsp;&nbsp;版权声明&nbsp;&nbsp;</div>
				</div>

				<div>Copyright © 2019 三峡人家 All Rights Reserved.  <a href="http://www.beian.miit.gov.cn/">鄂ICP备18018170号-1</a>  技术支持：
					<a href="http://www.hbidd.com" target="_blank">湖北爱点点科技有限公司</a>
				</div>

			</div>

		</div>

	</div>

</div>
<!--第六屏end-->
</div>
{% endblock %}
