{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="/css/newsdetail.css?version=1.8">
{% endblock %}

{% block main %}
	<!--详情内容-->
	<div class="container detailbox">
    <h3>乐游东沟</h3>
    <p>桃源人家民宿自2016年6月18日建成运营以来，已累计接待游客超十万人，“一房难求”是这里的常态。
蛙声</p>
<p>十里出自齐白石画作《蛙声十里出山泉》，是一家以青蛙为主题的亲子民宿综合体，也是十堰首家亲子民宿综合体。</p>
<p>久在樊笼里，复得返自然，与山野的邂逅是一场
美妙的旅行，山顶美宿四周密林层层，迎面便是茶山，茶香幽幽、山色旖旎。</p>
	
	</div>
	
	<!--上一頁下一頁-->
	<div class="upanddown">
		<div class="container updownbox">
			<a class="up" href="">上一篇</a>
			<a class="down" href="">下一篇</a>
		</div>
	</div>

{% endblock %}

    {% block javascript %}
<script src="/js/newsdetail.js?version=1.8"></script>
    {% endblock %}
