{% extends 'base.html.twig' %}

{% block main %}
<main id="node-content" class="mx-auto my-5">
{% if node.img %}
<img class="w-100 rounded mb-5" src="/img/{{ node.img }}">
{% endif %}
<h2 class="text-center">{{ node }}</h2>
<p class="synopsis my-5">{{ node.synopsis }} </p>
<div>
{{ node.body|raw }}
</div>
</main>
{% endblock %}
