{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}
{% block style %} {% endblock %}

{% block main %}
    <div class="container-fluid hero-section-bg-page-2 position-relative d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center align-items-center">
            <h2 class="position-absolute text-white">新闻动态</h2>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="container d-flex align-items-center py-1">
            <i class="fa fa-home border-end pe-3" aria-hidden="true"></i>
            <div class="dropdown ps-4">
                <button class="btn btn-secondary dropdown-toggle bg-transparent border-0 text-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  新闻动态
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
        </div>
    </div>
    <article class="my-5 mx-auto mw-80">
      <h1 class="h1 text-center">title</h1>
      <p class="text-center text-body-tertiary">2024.1.2</p>
      <img src="{{asset('images/cardimg2.png')}}" class="img-fluid mx-auto w-100" alt="">
      <div class="my-3">
      <p>科学探索与技术创新是推动人类文明进步和社会发展的主要力量。创新开创未来，实干成就梦想。科学探索与技术创新是推动人类文明进步和社会发展的主要力量。创新开创未来，实干成就梦想。科学探索与技术创新是推动人类文明进步和社会发展的主要力量。创新开创未来，实干成就梦想。</p>
      <p>dsafs dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf dsaf asdf</p>
      <p>dsafsadffffffffffffffffffffffffffffffffffffffff</p>
      <p>dsafsadffffffffffffffffffffffffffffffffffffffff</p>
      </div>
    </article>
{% endblock %}

    {% block javascript %}
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
    {% endblock %}
