{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}
{% block style %} {% endblock %}

{% block main %}
    <div class="container-fluid hero-section-bg-page-2 position-relative d-flex justify-content-center align-items-center" style="background-image: url({{ asset('images/图层.png')}})">
        <div class="container d-flex justify-content-center align-items-center">
            <h2 class="position-absolute text-white">联系我们</h2>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="container d-flex align-items-center py-1">
            <i class="fa fa-home border-end pe-3" aria-hidden="true"></i>
            <div class="dropdown ps-4">
                <button class="btn btn-secondary dropdown-toggle bg-transparent border-0 text-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    联系我们
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="container">
            <div class="row pt-5 text-center">
                <div class="col-12">
                    <h2 class="page-2-section-1-heading">与我们保持联系，是解决您一切问题的有效途径</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-3 col-6 text-center border-end">
                    <img src="images/电话.svg" alt="" class="call-img">
                    <h4 class="pt-3 page-2-section-2-heading">全国服务热线</h4>
                    <p class="page-2-section-2-text">400-669-666</p>
                </div>
                <div class="col-lg-3 col-md-3 col-6 text-center border-end">
                    <img src="images/邮箱 (1).svg" alt="" class="call-img">
                    <h4 class="pt-3 page-2-section-2-heading">服务邮箱</h4>
                    <p class="page-2-section-2-text">0000000000@163.com</p>
                </div>
                <div class="col-lg-3 col-md-3 col-6 text-center border-end">
                    <img src="images/位置 (2).svg" alt="" class="call-img">
                    <h4 class="pt-3 page-2-section-2-heading">联系地址</h4>
                    <p class="page-2-section-2-text">十堰市张湾区工业新区A区建设大道特1号</p>
                </div>
                <div class="col-lg-3 col-md-3 col-6 text-center">
                    <img src="images/微信 拷贝.svg" alt="" class="call-img">
                    <h4 class="pt-3 page-2-section-2-heading">微信客服</h4>
                    <p class="page-2-section-2-text">如果您有需求，请联系我们</p>
                </div>
            </div>
        </div>
    </div>
   
    <div class="gray-label-text text-center py-3 mt-5">
        <h1 class="fw-bold">需求提交</h1>
      </div>
      <!-- form -->
      <div class="container">
          <h1 class="form-heading mt-5">不要错过！获取关于东风越野车的最新消息</h1>
          <form>
              <div class="row mb-3">
                  <div class="col-md-6">
                      <div class="input-with-label">
                          <span class="required-input"></span>
                          <input type="text" class="form-control mt-2 py-2 remove-focus-outline rounded-0" id="inputFirstName" placeholder="名字:">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="input-with-label">
                          <span class="required-input"></span>
                          <input type="text" class="form-control mt-2 py-2 remove-focus-outline rounded-0" id="inputFirstName" placeholder="姓氏:">
                      </div>                </div>
                  <div class="col-md-6">
                      <div class="input-with-label">
                          <span class="required-input"></span>
                          <input type="text" class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="inputFirstName" placeholder="邮箱:">
                      </div>                </div>
                  <div class="col-md-6">
                      <input type="text" class="form-control mt-4 py-2 remove-focus-outline rounded-0" id="inputLastName" placeholder="手机:">
                  </div>
                  <div class="col-md-6">
                      <select class="form-select mt-4 py-2 remove-focus-outline rounded-0" aria-label="Default select example">
                          <option selected>咨询车型</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                      </select>
                  </div>
                  <div class="col-md-6">
                      <select class="form-select mt-4 py-2 remove-focus-outline rounded-0" aria-label="Default select example">
                          <option selected>国家/地区</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                      </select>
                  </div>
                  <div class="input-group mt-4">
                      <textarea class="form-control remove-focus-outline rounded-0" aria-label="需求描述 With textarea" placeholder="需求描述"></textarea>
                  </div>
              </div>
              <div class="form-check">
                  <input class="form-check-input rounded-0" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                      我同意隐私政策
                  </label>
                </div>
                <div class="bottom-text">
                  对于您提供的个人信息，我们将尊重您的隐私并严格保密
                </div>
  
              <!-- Additional form fields can be added here -->
              <div class="form-btn d-flex justify-content-center mt-4">
                  <button type="submit" class="btn py-2">提交</button>
              </div>
          </form>
      </div>
{% endblock %}

    {% block javascript %}
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
    {% endblock %}
