<!-- 公用顶部导航 -->

<div class="headerbox">

	<!-- PC端导航 -->

	<header class="header SourceHanSansCN-Regular">

		<div class="container clearfix conflex main-container">
			<div class="wapLogo"><a href="/"><img src="/images/logo.png"></a></div>
			<div class="left">
				<a href="/"><img src="/images/logo.png"></a>
			</div>
			<div class="nav">
        {{ include('menu.html.twig') }}
			</div>

			<div class="smallicons">
				<div class="iconbox">
					<div class="icons" id="wxicon"><img src="/images//wx.png"></div>
					<div class="icons" id="dyicon"><img src="/images/miniprog.png"></div>
					<div class="icons" id="musicicon"><img src="/images/play.png"></div>
				</div>
				<div class="qrcode">
				</div>
			</div>
      <a href="javascript:void(0)" id="navToggle">
        <span></span>
      </a>
		</div>
	</header>

	<!-- 移动端导航 -->
	<div class="m_nav">
		<div class="top clearfix">
			<img src="/images/closed.png" alt="" class="closed" />
		</div>
    {{ include('menu.html.twig') }}
	</div>
</div>
