		<!-- 公用顶部导航 -->

		<div class="headerbox">

			<!-- PC端导航 -->

			<header class="header SourceHanSansCN-Regular">

				<div class="container clearfix conflex main-container">
					<div class="wapLogo"><a href="/"></a></div>
					<div class="left">

						<a href="/"><img src="/images/logo.png"></a>

					</div>

					<div class="nav">
						<ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
							<li class="active">
								<a href="javascript:void(0)" id="indexli">首页</a>
							</li>
														<li class="dropdown" id="113" classname="导览">
								<a href="javascript:void(0)">走进东沟</a>
								<div class="dropdown_menu">
                  <a href="/zoujin#">东沟简介</a>
									<a href="/zoujin?target=xingcheng">地理位置</a>
									<a href="/zoujin?target=culture">红色文化</a>
									<a href="/zoujin?target=history">东沟历史</a>
									<a href="/zoujin?target=honor">东沟荣誉</a>
																	</div>
							</li>
														<li class="dropdown" id="48" classname="景区介绍">
								<a href="javascript:void(0)">乐游东沟</a>
								<div class="dropdown_menu">
																		<a href="/leyou?target=youzai">游在东沟</a>
																		<a href="/leyou?target=zhuzai">住在东沟</a>
																		<a href="/leyou?target=chizai">吃在东沟</a>
																		<a href="/leyou?target=gouzai">购在东沟</a>
																	</div>
							</li>
														<li class="dropdown" id="100" classname="新闻资讯">
								<a href="javascript:void(0)">新闻资讯</a>
								<div class="dropdown_menu">
																		<a href="#">文旅要闻</a>	
																		<a href="#">景区公告</a>	
																		<a href="#">党建文明</a>
																	</div>
							</li>
														<li class="dropdown" id="101" classname="景区服务">
								<a href="javascript:void(0)">旅行游记</a>
							</li>
														<li class="dropdown" id="54" classname="魅力三峡">
								<a href="javascript:void(0)">联系我们</a>
							</li>
													</ul>
					</div>

					<div class="smallicons">
						<div class="iconbox">
							<div class="icons" id="wxicon"><img src="/images//wx.png"></div>
							<div class="icons" id="dyicon"><img src="/images/miniprog.png"></div>
							<div class="icons" id="musicicon"><img src="/images/play.png"></div>
						</div>
						<div class="qrcode">
							
						</div>
						
					</div>

					<a href="javascript:void(0)" id="navToggle">

						<span></span>

					</a>

				</div>
				

				<div class="fullGuide">

					<div class="guideBox">


						<img class="headerlogo">

						<div class="navsbox">
														<div class="navsitem">
								<div class="navname">导览</div>
																	<a href="/daolan/index?target=daolan_1">售票时间</a>
									<a href="/daolan/index?target=daolan_2">开放时间</a>
									<a href="/daolan/index?target=daolan_3">票务预订</a>
									<a href="/daolan/index?target=daolan_4">行程规划</a>
									<a href="/daolan/index?target=daolan_5">旅游攻略</a>
																</div>
														<div class="navsitem">
								<div class="navname">景区介绍</div>
																	<a href="/jingqu/index?target=jingqu_1">龙溪神韵</a>
																		<a href="/jingqu/index?target=jingqu_2">巴人部落</a>
																		<a href="/jingqu/index?target=jingqu_3">洪荒时代</a>
																		<a href="/jingqu/index?target=jingqu_4">石牌要塞</a>
																		<a href="/jingqu/index?target=jingqu_5">三峡观坝</a>
																		<a href="/jingqu/index?target=jingqu_6">西陵画廊</a>
																</div>
														<div class="navsitem">
								<div class="navname">智慧旅游</div>
																	<a href="/zhihuilvyou/index?target=zhihuilvyou_1">景区地图</a>
									<a href="/zhihuilvyou/index?target=zhihuilvyou_2">全景导览</a>
									<a href="/zhihuilvyou/index?target=zhihuilvyou_3">语音导游</a>
									<a href="/zhihuilvyou/index?target=zhihuilvyou_4">景区影像</a>
																</div>
														<div class="navsitem">
								<div class="navname">新闻资讯</div>
																	<a href="/news/index?cid=50">景区公告</a>	
																		<a href="/news/index?cid=51">景区新闻</a>	
																		<a href="/news/index?target=news_3">党建文明</a>
																		<a href="/news/index?target=news_4">安全质量</a>
																</div>
														<div class="navsitem">
								<div class="navname">景区服务</div>
																	<a href="/service/index?target=service_1">酒店预订</a>
																		<a href="/service/index?target=service_2">峡江美食</a>
																		<a href="/service/index?target=service_3">三峡特产</a>
																		<a href="/service/index?target=service_4">娱乐休闲</a>
																		<a href="/service/index?target=service_5">定制服务</a>
																</div>
														<div class="navsitem">
								<div class="navname">魅力三峡</div>
																	<a href="/meili/index?target=meili_1">作品欣赏</a>
																		<a href="/meili/index?target=meili_2">民俗表演</a>
																		<a href="/meili/index?target=meili_3">诗画三峡</a>
																		<a href="/huodong/index">景区活动</a>	
																</div>
													</div>

					</div>

				</div>

			</header>
			<!-- 移动端导航 -->

			<div class="m_nav">
				<div class="top clearfix">
					<img src="/images/closed.png" alt="" class="closed" />
				</div>
				<div class="logo">
					<a href="/../index"><img src="http://www.sanxiarenjia.com/uploads/images/20191105/1572926720Kvlv4RFo3H6265.png" alt="" /></a>
				</div>
				<ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
					<li class="active">
						<a href="/../index">首页</a>
					</li>
										<li class="dropdown">
												<a href="javascript:void(0)">导览</a>
						<div class="dropdown_menu">
																	<a href="/daolan/index?target=daolan_1">售票时间</a>
										<a href="/daolan/index?target=daolan_2">开放时间</a>
										<a href="/daolan/index?target=daolan_3">票务预订</a>
										<a href="/daolan/index?target=daolan_4">行程规划</a>
										<a href="/daolan/index?target=daolan_5">旅游攻略</a>
															</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">景区介绍</a>
						<div class="dropdown_menu">
																<a href="/jingqu/index?target=jingqu_1">龙溪神韵</a>
																	<a href="/jingqu/index?target=jingqu_2">巴人部落</a>
																	<a href="/jingqu/index?target=jingqu_3">洪荒时代</a>
																	<a href="/jingqu/index?target=jingqu_4">石牌要塞</a>
																	<a href="/jingqu/index?target=jingqu_5">三峡观坝</a>
																	<a href="/jingqu/index?target=jingqu_6">西陵画廊</a>
														</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">智慧旅游</a>
						<div class="dropdown_menu">
																	<a href="/zhihuilvyou/index?target=zhihuilvyou_1">景区地图</a>
										<a href="/zhihuilvyou/index?target=zhihuilvyou_2">全景导览</a>
										<a href="/zhihuilvyou/index?target=zhihuilvyou_3">语音导游</a>
										<a href="/zhihuilvyou/index?target=zhihuilvyou_4">景区影像</a>
															</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">新闻资讯</a>
						<div class="dropdown_menu">
																<a href="/news/index?target=news_1">景区公告</a>
																	<a href="/news/index?target=news_2">景区新闻</a>
																	<a href="/news/index?target=news_3">党建文明</a>
																	<a href="/news/index?target=news_4">安全质量</a>
														</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">景区服务</a>
						<div class="dropdown_menu">
																<a href="/service/index?target=service_1">酒店预订</a>
																	<a href="/service/index?target=service_2">峡江美食</a>
																	<a href="/service/index?target=service_3">三峡特产</a>
																	<a href="/service/index?target=service_4">娱乐休闲</a>
																	<a href="/service/index?target=service_5">定制服务</a>
														</div>
											</li>
										<li class="dropdown">
												<a href="javascript:void(0)">魅力三峡</a>
						<div class="dropdown_menu">
																<a href="/meili/index?target=meili_1">作品欣赏</a>
																	<a href="/meili/index?target=meili_2">民俗表演</a>
																	<a href="/meili/index?target=meili_3">诗画三峡</a>
																	<a href="/huodong/index">景区活动</a>	
															</div>
											</li>
									</ul>

			</div>

		</div>
