<ul class="navbar_nav ul" data-in="fadeInDown" data-out="fadeOutUp">
	<li class="active">
		<a href="javascript:void(0)" id="indexli">首页</a>
	</li>
  <li class="dropdown" classname="导览">
		<a href="javascript:void(0)">走进东沟</a>
		<div class="dropdown_menu">
      <a href="/zoujin#">东沟简介</a>
			<a href="/zoujin?target=xingcheng">地理位置</a>
			<a href="/zoujin?target=culture">红色文化</a>
			<a href="/zoujin?target=history">东沟历史</a>
			<a href="/zoujin?target=honor">东沟荣誉</a>
    </div>
	</li>
  <li class="dropdown" classname="景区介绍">
		<a href="javascript:void(0)">乐游东沟</a>
		<div class="dropdown_menu">
      <a href="/leyou?target=youzai">游在东沟</a>
      <a href="/leyou?target=zhuzai">住在东沟</a>
      <a href="/leyou?target=chizai">吃在东沟</a>
      <a href="/leyou?target=gouzai">购在东沟</a>
    </div>
	</li>
  <li class="dropdown" classname="新闻资讯">
		<a href="javascript:void(0)">新闻资讯</a>
		<div class="dropdown_menu">
      <a href="/news/wenlv">文旅要闻</a>	
      <a href="/news/tongzhi">景区公告</a>	
      <a href="/news/dangjian">党建文明</a>
    </div>
	</li>
  <li class="" classname="景区服务">
		<a href="/news/youji">旅行游记</a>
	</li>
  <li class="" classname="魅力三峡">
		<a href="/contact">联系我们</a>
	</li>
</ul>
